body {
  background-color: #f7f7f7;
  /* background-color: black; */
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.nav {
  display: flex;
  margin: 10px 50px;
}

.nav a {
  border: solid 2px #f7f7f7;
}

.nav a:hover {
  border: solid 2px #ee2211;
}

.logo {
  /* text-align: center; */
  height: 30px;
  margin: 25px 0 10px;
}

.link {
  margin: 35px;
  color: black;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 100px 30px;
}

.paragraph {
  text-align: left;
  grid-column-start: 2;
}

.view-more-button, .link {
  text-decoration: none;
}

.info-title {
  font-size: 25px;
  margin-bottom: 10px;
}

.info-subtitle, footer, .paragraph, .description {
  font-size: 20px;
}

h1, h2, h3 {
  font-weight: bold;
}

.img-bike {
  width: 100%;
}

.view-more-button {
  margin-top: 10px;
  /* padding: 7px 12px; */
  padding: 0.5rem;
  color: white;
  background-color: #ee2211;
}

/* .advantages-title {
  vertical-align: middle;
  font-size: 64px;
  color: #c6c6c6;
  padding: 6rem 2rem;
} */

.advantages-title {
  background-image: url(/img/onda.svg);
  font-size: 64px;
  color: #c6c6c6;
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

/* section {
  background-image: url("./img/onda.svg");
} */

.description, .advantages-title {
  text-align: right;
}

.advantages-and-characteristics {
  width: 1000px;
  /* background-color: #f7f7f7; */
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.advantages {
  text-align: justify;
  border-left: solid 3px white;
  padding: 25px 30px 25px 70px ;
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  grid-template-columns: 20% 80%;
}
.advantages:hover {
  border-left: solid 3px #ee2211;
}

.advantages, .info, .link, footer, a {
  background-color: white;
}

footer {
  text-align: center;
  padding: 40px 100px;
  margin: 100px 0 0;
  width: 100% ;
}

.advantages-img {
  /* padding: 15px; */
}